@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(210, 46%, 95%);
  min-height: 650px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  position: relative;
  top: 100px;
  left: 200px;
  bottom: 200px;
  width: 790px;
  height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  grid-template-areas:
    "p p g k"
    "w s s k";
}
.personal {
  display: flex;
}
.titles {
  margin: 12px;
  color: white;
}
.titles-b {
  margin: 10px;
  color: black;
}
.texta {
  color: whitesmoke;
  margin: 5px;
}

.texta-b {
  color: black;
  margin: 5px;
}
.para {
  margin: 10px;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.para-b {
  margin: 10px;
  color: black;
  font-size: 10px;
  font-weight: 600;
}

.purple {
  background: hsl(263, 55%, 52%);
  grid-area: p;
  padding: 15px;
  border-radius: 12px;
}
.gray {
  background-color: hsl(217, 19%, 35%);
  grid-area: g;
  padding: 15px;
  border-radius: 12px;
}

.white {
  background-color: hsl(0, 0%, 100%);
  grid-area: w;
  padding: 15px;
  border-radius: 12px;
}
.smoke {
  background-color: hsl(219, 29%, 14%);
  grid-area: s;
  padding: 15px;
  border-radius: 12px;
}
img {
  border-radius: 50%;
}
p {
  font-size: 10px;
}

.black {
  background-color: hsl(0, 0%, 100%);
  grid-area: k;
  padding: 15px;
  width: 200px;
  border-radius: 12px;
}

@media (max-width: 550px) {
  .container {
    height: 600px;
    width: 250px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas:
      "p"
      "p"
      "g"
      "w"
      "s"
      "s"
      "k"
      "k";
  }
  .purple {
    min-height: 280px;
  }
  .white {
    min-height: 200px;
  }
  .smoke {
    min-height: 200px;
  }
  .black {
    min-height: 340px;
    width: 250px;
  }
}
